
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Reddit</a>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a routerLink="hot">hot</a></li>
      <li class="active"><a routerLink="new">new</a></li>
      <li class="active"><a routerLink="rising">rising</a></li>
      <li class="active"><a routerLink="controversial">controversial</a></li>
      <li class="active"><a routerLink="top">top</a></li>
      <li class="active"><a routerLink="gilded">gilded</a></li>
      <li class="active"><a routerLink="wiki">wiki</a></li>
    </ul>
  </div>
  <div class="header-thing">
    <h2>Welcome to Reddit,</h2>
    <h4>the front page of the internet.</h4>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
